<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>MI PRUEBA</h1>
<img src="/static/images/iot.png" alt="user">
<div>
<h1>El Led1 se encuentra:</h><h id="LED1"></h1>
<h1>El Led2 se encuentra:</h><h id="LED2"></h1>

<h>DAtos del Archibo:</h><button id="Abrir" onclick="mostrard()">Abrir</button>
	<h1 id="Dats"></h1>
</div>



</body>
</html>
